.comment {
  margin: 2rem 9rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h1 {
  margin: 0.5rem 1.5rem;
}

ul {
  padding: 0;
}

li {
  border: 0.2px white solid;
  border-radius: 1em;
  padding: 0.9em;
  margin: 0.85rem;
}

li p {
  margin: 0.7rem 0.7rem 0.2rem 0.7rem;
}

.comment-profile-timestamp-box {
  display: flex;
  justify-content: space-between;
}

.comment-profile-box {
  display: flex;
}

.comment-content {
  display: flex;
  justify-content: space-between;
}

.comment-input-box {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.comment-input {
  width: 80%
}